
<div class="card bg-dark text-white">
<% if @cocktail.photo.attached?  %>
<%= cl_image_tag @cocktail.photo.key, class: "fit-image" %>
<% end %>
  
  <div class="card-img-overlay">
  
    <h2 class="card-title"><%= @cocktail.name %></h2>
    <p class="card-text"></p>
    <h2>List of ingredients:</h2>

<% if @cocktail.doses.empty? %>
  <p>You have no ingredients yet! Please
  <%= link_to 'add ingredients to your cocktail', new_cocktail_dose_path(@cocktail) %>.</p>
<% else %>
  <ul class="list-unstyled">
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %> of <%= dose.ingredient.name %>
        <small>
          <%= link_to dose_path(dose), class: 'text-warning', method: :delete, data: { delete: "delete-#{dose.id}" } do %>
            <i class="fas fa-backspace"></i>
          <% end %>
        

          
        </small>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: 'btn btn-warning btn-sm' %>
<% end %>

  </div>
</div>